$colorPrimary-1: #063251;
$colorPrimary-2: #104e7a;
$colorPrimary-3: #1a6aa2;
$colorPrimary-4: #2d87c8;
$colorPrimary-5: #49a6e9;
$colorPrimary-6: #6ebef7;
$colorPrimary-7: #ebf7ff;

$colorGrey-1: #102a42;
$colorGrey-2: #243a52;
$colorGrey-3: #324d67;
$colorGrey-4: #617d98;
$colorGrey-5: #829ab0;
$colorGrey-6: #bcccdc;
$colorGrey-7: #f1f5f8;

$colorWhite: #fff;
$colorBlack: #222;

$colorDarkRed: #bb2525;
$colorLightRed: #df9d9d;
$colorDarkGreen: #2e8b57;
$colorLightGreen: #96c5ab;

$fontFamily: 'Quicksand', sans-serif;

$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;
$lineHeight: 1.5;

$lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$darkShadow: 0 5px 15px rgba(0, 0, 0, 0.2);
